.el-table th>.cell {
    font-size: 14px;
    color: #222;
    font-weight: 400;
}
.el-breadcrumb__item .el-breadcrumb__inner {
    color: #333;
}

.disabled .el-upload--picture-card {
    display: none;
}